---
title: CredHub
owner: CredHub
---


## <a id="overview"></a>Overview

CredHub is a component designed for centralized credential management in <%= vars.first_product_name %>. It is a single component that can address several scenarios in the <%= vars.product_name %> ecosystem. At the highest level, CredHub centralizes and secures credential generation, storage, lifecycle management, and access.

## <a id="what-can-it-do"></a>What Can CredHub Do?

CredHub performs a number of different functions to help generate and protect the credentials in your <%= vars.product_name %> deployment, including:

* Securing data for storage
* Authentication
* Authorization
* Access and change logging
* Data typing
* Credential generation
* Credential metadata
* Credential versioning

## <a id="application-architecture"></a>Application Architecture
CredHub consists of a REST API and a CLI. The REST API conforms to the Config Server API spec. CredHub is an OAuth2 resource server that integrates with User Account Authentication (UAA) to provide core authentication and federation capabilities. 

![Diagram shows that the CredHub CLI interacts with CredHub to export credentials to the Encryption Provider, Data Store, and Authentication Provider](images/basic-architecture.png)

<% if vars.product_name != 'CF' %>
<%= partial '../customizing/bosh-runtime-credhub' %>
<% end %>

## <a id="deployment-architecture"></a>Deployment Architecture

The two primary architectures for CredHub are either colocated on the BOSH Director VM or deployed and managed independently as a service.
You can choose your method depending on the needs of your organization.

### <a id="colocated"></a>Colocated with the BOSH Director

You can deploy CredHub on the same VM as the BOSH Director.
If you need a lightweight credential storage instance for the BOSH Director only, you may choose the colocated deployment.
This configuration does not provide high availability.

When you use the colocated deployment architecture, the BOSH Director, CredHub, UAA, and the Director database are all installed on a single BOSH VM, as shown in the following diagram:

![Diagram that show the following components colocated on the BOSH VM: BOSH Director, CredHub, UAA, and the Director database](images/bosh-deployment.png) 

For more information, read <a href="./setup-credhub-bosh.html" class="subnav">Setting Up and Deploying CredHub with BOSH</a>.

### <a id="service"></a>Deployed as a Service

You can deploy CredHub as an independent service on one or more VMs.
If you need a highly available credential storage instance for multiple components in your deployment, you may choose to deploy CredHub as a service.

CredHub is a stateless application, so you can scale it to multiple instances that share a common database cluster and encryption provider.

When you deploy CredHub as a service, the load balancer and external databases communicate directly with the CredHub VMs, as shown in the following diagram:

![Diagram that shows multiple CredHub VMs that connect to UAA, an HSM, an external database, and a load balancer. The load balancer connects to four consumer VMs.](images/service-deployment.png)

## <a id="cred-types"></a>CredHub Credential Types

Credentials exist in multiple places in the <%= vars.product_name %> ecosystem. <%= vars.product_name %> components use credentials to authenticate connections between components. <%= vars.product_name %> installations often have hundreds of active credentials. Leaked credentials are common causes of data and security breaches, so managing them securely is very important. 

For more information, read <a href="./credential-types.html" class="subnav">CredHub Credential Types</a>.

## <a id="backup-restore"></a>Backing Up and Restoring CredHub Instances

The CredHub application does not hold state, but you must ensure its dependent components are backed up. Redundant backups can help prevent data loss if an individual component fails. For more information, read <a href="./backup-restore.html" class="subnav">Backing Up and Restoring CredHub Instances</a>.

<!-- 
CredHub can also be deployed as an independent service on one or more VMs. The application does not hold state, so it may be scaled to multiple instances that share a common database cluster and encryption provider.

This architecture benefits from high availability and scale, however, the additional cost and complexity may not be suitable for a single or small number of consumers. 

For more information, read <a href="./setup-credhub-service-creds.html" class="subnav">Setting Up and Deploying CredHub with Service Credentials</a>. 

## Troubleshooting

If something goes wrong, CredHub should provide descriptive errors. In many cases, the error will provide insight into the how to resolve the issue. For complex errors, you may need to review the application logs to locate the source of the issue. 

For more information, read <a href="./troubleshooting-credhub.html" class="subnav">Troubleshooting CredHub</a>.

## Hardware Security Modules

CredHub includes support for utilizing Luna HSMs for encryption operations. When configured to use this provider, all encryption and decryption operations are performed by the HSM. CredHub supports a high availability HSM configuration to preserve uptime and key material in the event of a hardware failure. Because the encryption key on an HSM cannot be extracted for backup, you must take extra care to configure an HSM deployment with redundancy to protect your data. 

For more information, read <a href="./hsm-config.html" class="subnav">Configuring a Hardware Security Module</a>.


## Migrating Existing Credentials to CredHub

In some cases, you can migrate credentials that already exist in your deployment into CredHub. 

For more information, read <a href="./migrating-credentials.html" class="subnav">Migrating Existing Credentials to CredHub.</a>

-->
